@tailwind base;
@tailwind components;
@tailwind utilities;


*{
	font-family: 'Roboto', sans-serif;
}

@supports (-webkit-line-clamp: 2) {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* ---------------------------------------

/* Scrollbar width */
.scrollbar::-webkit-scrollbar {
  background-color: transparent;
  height: 10px;
  width: 0;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #80E9BC;
  border-radius: 16px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #67b493;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
} 
